---
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import CardTitle from "../components/CardTitle.astro";
import Center from "../components/Center.astro";
import PasswordBox from "../components/PasswordBox.astro";
import TextBox from "../components/TextBox.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard - Ecam">
  <Center>
    <Title>Dashboard</Title>
    <Card>
      <CardTitle>WiFi</CardTitle>
      <div class="flex text-black dark:text-white">
        Status:&nbsp;<div id="wifi-status"></div>
      </div>
      <form class="space-y-5" id="wifi-form">
        <TextBox type="text" id="ssid" name="ssid" placeholder="SSID" />
        <PasswordBox />
        <Button id="save-btn">Save</Button>
      </form>
    </Card>
  </Center>
</Layout>

<script>
  const wifiForm = document.getElementById("wifi-form") as HTMLFormElement;
  const ssid = document.getElementById("ssid") as HTMLInputElement;
  const password = document.getElementById("password") as HTMLInputElement;

  fetch("/api/wifi")
    .then((d) => d.json())
    .then((data) => {
      ssid.value = data.ssid;
      password.value = data.pw;
    })
    .catch((e) => console.error(e));

  wifiForm.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("set wifi");
  });

  const wifiStatusDiv = document.getElementById(
    "wifi-status"
  ) as HTMLDivElement;
  let wifiStatus = "N/A";
  setInterval(() => {
    fetch("/api/wifi_status")
      .then((d) => d.text())
      .then((data) => {
        switch (parseInt(data)) {
          case 255:
            wifiStatus = "No Shield";
            break;
          case 0:
            wifiStatus = "Connecting";
            break;
          case 1:
            wifiStatus = "No SSID Available";
            break;
          case 2:
            wifiStatus = "Scan Completed";
            break;
          case 3:
            wifiStatus = "Connected";
            break;
          case 4:
            wifiStatus = "Connect Failed";
            break;
          case 5:
            wifiStatus = "Connection Lost";
            break;
          case 6:
            wifiStatus = "Disconnected";
            break;
          default:
            wifiStatus = "Error Fetching Status";
            break;
        }
        wifiStatusDiv.innerText = wifiStatus;
      })
      .catch((e) => {
        console.error(e);
        wifiStatusDiv.innerText = "Error Fetching Status";
      });
  }, 1000);
</script>
